@{
    Layout = "~/Views/Shared/Layout_Adm.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

</head>
<body>
    <div>
Estoy en el menu Principal
    </div>
</body>
</html>

