

<div class="container">
    <div class="row">
        <center>
            <div class="col-sm-12">
                <div class="alert alert-success">
                    <strong>Estado:</strong> @ViewBag.mensaje
                </div>
            </div>
        </center>
    </div>
</div>

