
@{
    ViewBag.Title = "Llegar";
}



<script src="~/Scripts/jquery-3.3.1.js"></script>
<body>

    <div class="container">
        <div class="row">

            <div class="form-group">
                <label for="exampleFormControlInput1">Escribe tu Ubicación!<img src="~/Content/img/mapa.svg" width="30" height="40" /></label>

                
                <input class="form-control" required id="searchInput" style="border:red 2px double" type="text" placeholder="¿Donde Estoy?">

            </div>
       
            <div class="auto" id="auto">
                <form action="/Mapa/Mapa" method="post">
                    <input id="lat" name="lat" type="hidden" placeholder="Latitud">
                    <input id="lng" name="lng" type="hidden" placeholder="Longitud">

                    <button class="autoclick" id="autoclick" name="autoclick" type="submit"> </button>

                </form>
            </div>
            <br>


            <div id="map" style="width:100%;height:400px;"></div>


            <!-- Display geolocation data -->
            <br>
            <script src="~/Scripts/autocompletar.js"></script>
            <ul class="geo-data" style="display:none">
                <li>Estoy en: <span id="location"></span></li>
                <li>País: <span id="country"></span></li>
                <li>Latitude: <span id="lat"></span></li>
                <li >Longitude: <span id="lon"></span></li>

            </ul>


        </div>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCgTUr-ERjl6vvHqY-9ja0kM9O2a1mVo78&callback=initMap" async defer></script>
</body>

