@model IEnumerable<ENTIDAD.Mapa>

@{
    ViewBag.Title = "Mapa";
    var listadoTexto = (IEnumerable<ENTIDAD.InformacionTexto>)ViewData["listadoTexto"];

}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCgTUr-ERjl6vvHqY-9ja0kM9O2a1mVo78"></script>
<script src="~/Scripts/TrazarRuta.js"></script>
<script src="~/Scripts/jquery-3.3.1.js"></script>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="col-12">
                    @foreach (var dato in listadoTexto)
                    {
                        <center>  <h3 class="titulo" style="color:black; background-color:cornflowerblue"> @Html.DisplayFor(modelItem => dato.titulo)</h3></center>
                        <br>
                        <center>  <div style="color:black"> @Html.DisplayFor(modelItem => dato.contenido) </div></center>

                    }
                </div>
                <br>   <br>
                <div class="auto">
                    <button type="button" id="search" name="search" class="autoclick" onclick="get_my_location()"><img src="~/Content/img/ojo.svg" width="50" height="50" alt="x" />  </button>

                    @foreach (var item in Model)
                    {
                        <input type="hidden" placeholder="Latitud Origen" id="my_lat" value="@Html.DisplayFor(modelItem=> item.latitudOrigen)" name="my_lat" />
                        <input type="hidden" placeholder="Longitud Origen" id="my_lng" value="@Html.DisplayFor(modelItem=> item.longitudOrigen)" name="my_lng" />

                    }
                </div>
                <div class="map" id="map" style="width:100%;height:400px;"> </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        start_map();
    </script>

</body>
