@model IEnumerable<ENTIDAD.InformacionTexto>
@{ var listadoVistazoHotel = (IEnumerable<ENTIDAD.InformacionTexto>)ViewData["listadoVistazoHotel"];
    ViewBag.Title = "Inicio";
}

<link href="~/Content/css/estiloVistazoH.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/main.js"></script>
<body>
    <div class="container">
        <div class="form-row">
            <div class="form-group col-md-12">
                <div class="slider-outer">

                    <div id="carouselExampleControls" class=" slider-inner">
                        @foreach (var item in Model)
                        {
                            <img src='@Html.DisplayFor(modelItem=> item.rutaImagen)' class="responsive active" />}
                    </div>
                    <a class="carousel-control-prev prev" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next next" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">

                @foreach (var dato in listadoVistazoHotel)
                {
                    <center>  <h3 style="color:black; background-color:cornflowerblue"> @Html.DisplayFor(modelItem => dato.titulo)</h3></center>
                    <center>  <div style="color:black"> @Html.DisplayFor(modelItem => dato.contenido) </div></center>
                }
            </div>
        </div>
    </div>
</body>











