@model IEnumerable<ENTIDAD.Contenido>
@{ var contenido = (IEnumerable<ENTIDAD.Contenido>)ViewData["contenidoVista"];
    ViewBag.Title = "Contacto";
}

<body class="scroll">
    <div class="container ">
        <div class="row">
            <div class="col-12">
                @foreach (var dato in contenido)
                {
                    <hr style="color: #47748b">
                    <center>  <strong> @Html.DisplayFor(modelItem => dato.titulo)</strong></center>


                    <hr style="color: #47748b">
                    <br>
                    <br>
                    <center>  <div style="text-align: justify;"> @Html.DisplayFor(modelItem => dato.contenido) </div></center>

                }
            </div>
        </div>
    </div>
</body>


